    body{
    background-color: #ffebcd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
align-content: center;
text-align: center;
}
h1{
    font-weight: 200;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}
#result{
    align-content: center;
    flood-color: darkblue;
    -webkit-flow-from: initial;
}
button{
    margin: 12px;
    color:goldenrod;
    background-color: darkgreen;
    text-decoration-color: darkkhaki;
    text-emphasis-color: white;
    border-radius: 50px;
    border: 12px solid #666;
    height: 40px;
    width: 120px;
    border: 0px 
}
li{
    align-items: center;
    font-style: italic;
    border-color: crimson;
    text-align: center;
    list-style-position: outside;
}
